ul.acordeon,
ul.acordeon * {
margin: 0;
padding: 0;
border: 0;
}
body{
    background-color: #14213d;
}
ul.acordeon {
margin: 150px auto;
padding: 0;
list-style: none;
width: 25%;
font-size: 18px;
}
ul.acordeon li {
list-style: none;
}
ul.acordeon li a {
display: block;
padding: 10px 10px 10px 20px;
background: #326199;
color: #000;
border-bottom: 1px solid #000;
border-top: 1px solid #666;
text-decoration: none;
box-sizing: border-box;
}
ul.acordeon li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.acordeon li li a {
padding: 10px 10px 10px 40px;
background: #4fb1a1;
color: #000;
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}
ul.acordeon li li:last-child a {
border-bottom: 0;
}
ul.acordeon li:hover ul {
max-height: 300px;
transition: .3s all ease-in;
}
ul.acordeon li a:hover {
background: #4fb1a1;
color: #fff;
}